.para{
    background: green;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}
li {
  float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    text-decoration: none;
}
.mytext {
  width : 88%;
  height: 120 ;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5%;
   margin-bottom: 2%;
   border: 2px solid #9855d4;
}
.button_fill {
  background-color: #9855d4;
  border-color: #9855d4;
  color: #fff;
  font-weight: 200;
  padding: .4em 2em;
  border: 2px solid #9855d4;
  border-radius: 10rem;
  transition: .2s;
  display: inline-block;
  margin-left: 5%;
  /* margin-top: 2%; */
  height: 50px;
  width: 150px;
  font-size: 18px;
}
.DesplayResponse{

  display: none;
  width : 65%;
  height: max-content ;
  font-weight: bold;
  font-size: 20;
  color: #100b14;
  margin-left: 18%;
  margin-right: 5%;
  margin-top: 2%;
   margin-bottom: 2%;
   border: 2px solid #9855d4;
}
.responseText{
  padding-left: 5%;
}
  